//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include "afxres.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// 从 TEXTINCLUDE 资源生成。
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE 4, 2

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE
BEGIN
POPUP "游戏(&G)"
BEGIN
MENUITEM "加载地图(&L)", IDM_GAME_LOAD
MENUITEM "加载机器人(&+)", IDM_GAME_ADDBOT
MENUITEM "移除机器人(&-)", IDM_GAME_REMOVEBOT
MENUITEM "继续/暂停(&P)", IDM_GAME_PAUSE
END
POPUP "导航(&N)"
BEGIN
MENUITEM "显示导航地图", IDM_NAVIGATION_SHOW_NAVGRAPH
MENUITEM "显示节点索引", IDM_NAVIGATION_SHOW_INDICES
MENUITEM "快速平滑路径", IDM_NAVIGATION_SMOOTH_PATHS_QUICK

MENUITEM "精确平滑路径", IDM_NAVIGATION_SMOOTH_PATHS_PRECISE

END
POPUP "生成机器人信息(&I)"
BEGIN
MENUITEM "显示 ID", IDM_BOTS_SHOW_IDS
MENUITEM "显示健康", IDM_BOTS_SHOW_HEALTH
MENUITEM "显示分数", IDM_BOTS_SHOW_SCORES
END
POPUP "选择机器人信息(&S)"
BEGIN
MENUITEM "显示瞄准目标 (红色盒子)", IDM_BOTS_SHOW_TARGET
MENUITEM "显示感知对手 (橙色盒子)",
IDM_BOTS_SHOW_SENSED
MENUITEM "仅显示视野内的敌人", IDM_BOTS_SHOW_FOV
MENUITEM "显示目标队列", IDM_BOTS_SHOW_GOAL_Q
MENUITEM "显示路径", IDM_NAVIGATION_SHOW_PATH
END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
"#include ""afxres.h""\r\n"
"\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
"\r\n"
"\0"
END

#endif    // APSTUDIO_INVOKED


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "Comments", "\0"
VALUE "CompanyName", "is\0"
VALUE "FileDescription", "Raven\0"
VALUE "FileVersion", "1, 0, 0, 1\0"
VALUE "InternalName", "Raven\0"
VALUE "LegalCopyright", "Copyright ?2003\0"
VALUE "LegalTrademarks", "\0"
VALUE "OriginalFilename", "Raven.exe\0"
VALUE "PrivateBuild", "\0"
VALUE "ProductName", "is Raven\0"
VALUE "ProductVersion", "1, 0, 0, 1\0"
VALUE "SpecialBuild", "\0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200
END
END

#endif    // !_MAC

#endif    // English (U.S.) resources
